@import url('https://fonts.googleapis.com/css?family=Kavivanar');

 input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=password] {
   width: 100%;
   padding: 12px 20px;
   margin: 8px 0;
   box-sizing: border-box;
}

#flash_message {
  font-style: italic;
  color: red;
}

body {
    font-family: 'Kavivanar', cursive;
    color: #75B8C8;
    background-color: #220c10;
}

#gr_quote_body{
  font-style: ;
  color: #CDD3D5;
  font-size: 1.5em;

}
a {
  color: #77CBB9;
}
