<% if flash.has?(:message) %>
<%= flash[:message] %>
<% end %>
<h4>Login to Your Account</h4>
<form action="/login" method="post">
  <input type="text" name="username" placeholder="Username">
  <input type="password" name="password" placeholder="Password">
  <input type="submit" id="submit" value="Log In">
</form>
<br>
<a href="/signup">Sign Up</a>
