<% if flash.has?(:message) %>
<%= flash[:message] %>
<% end %>

<h2> Welcome, <%= current_user.username %> </h2>
  <br>
  <br></br>
<a href="/journals/new">New Journal Entry?</a>
<br>
<br>
<h3>Click the date to update the Journal entry or Delete it</h>
  <br>
</br>
<% @journals.each do |journal|  %>
    <td><a href="/journals/<%=journal.id%>"><%= journal.date.strftime("%B %d %Y ") %></a><td>
      <br></br>
<% end %>



<a href="/logout">Log Out</a>
