<!DOCTYPE html>
<html>
<head>
<link rel=”stylesheet” type=”text/css” href=”/style.css” />
</head>

<div id="flash_message">
<% if flash.has?(:message) %>
<%= flash[:message] %>
<% end %>
</div>

<h1> Try Gratitude</h1>

<a href="/login">Login</a>
<br></br>
<a href="/signup">Sign Up</a>

<a href="/logout">Log Out</a>
