<!-- <h1> Layout.erb</h1> -->

<!doctype html>
<html>
  <head>
    <title>Gratitude</title>
     <link rel="stylesheet" type="text/css" href="/style.css">

  </head>
  <body>
    <h1>Welcome to your Gratitude Journal</h>
      <h3> “Piglet noticed that even though he had a Very Small Heart, it could hold a rather large amount of Gratitude.”
      ― A.A. Milne, Winnie-the-Pooh </h3>
        <!--For next upgrate use nokogiri to scrape in gratitude quotes here -->

      <%= yield %>



    </div>

  </body>
</html>
