<!-- <h1> Layout.erb</h1> -->

<!doctype html>
<html>
  <head>
    <title>Gratitude</title>
     <link rel="stylesheet" type="text/css" href="/style.css">

  </head>
  <body>
    <h1>"Welcome to your Gratitude Journal"</h>

      <%= yield %>



    </div>

  </body>
</html>
